#FrmEntrada{
top: 50%;
left: 50%;
width: 700px;
height: 400px;
transform: translate(-50%,-50%);
display: block;
background-color: gray;
position: absolute;
}
#divEntrada{
width: 90%;
margin: 5%;
background-color: red;
height: 90%;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  background-image: url("Fondo.jpg");
}
* {
  box-sizing: border-box;
}
 
 
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: green;
}

/* Modal Content */
.modal-content {
  position: relative;
  top:0px;
  left: 0px;
  float: left;
  background-color: gold;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* The Close Button */
.close {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 2;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#waiting{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: gold;
  background-color: #4F3325;
  border-radius: 8px;
}
header{
  width: 100%;
  height: 25%;
  display: block;
  position: absolute;
}
header button{
    background-color: #4F3325;
    border: none;
    color: gold;
    position: relative;
    z-index: 2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#boxLeft{
  width: 25%;
  height: 100%;
  display: block;
  position: absolute;
}
#boxRight{
  left: 75%;
  width: 25%;
  height: 100%;
  display: block;
  position: absolute;
}

.circle {
  display: block;
  background: #4F3325;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0%);
  margin: 0;
  text-align: center;
  font-size: 60px;
  padding-top: 7%;
  color: #E8D9C4;
  font-display: blond;
}
.votacion {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 10%;
  margin-left: 7%;
  padding:0px;
  background-color: #4F3325;
  font-size: 80px;
  cursor: pointer;
  color:#E8D9C4;
  text-align: center;
  top: 45%;
}
.votacion:hover{
  background-color: rgb(212, 196, 174);
  color:#4F3325;
}

img{
display: block;
width: 70%;
position: relative;
height: 50%;
top: 30%;
left: 15%;
}
header div{
  display: block;
  width: 40%;
  position: relative;
  height: 40%;
  background-color: black;
  top: 30%;
  left: 50%;
  transform: translate(-50%,0%)
}
#boxMiddle{
  width: 50%;
  height: 75%;
  top:25%;
  left: 25%;
  display: block;
  position: absolute;
  max-width: 75%;
}

#titleName{
  left: 35%;
  top:10%;
  font-style: bely;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#E8D9C4;
  font-size: 70px;
  position: relative;
}

/* WAITING FOR PLAYERS*/
#waiting{
  visibility: hidden;
  display: none;
  width: 65%;
  height: 50%;
  top: 25%;
  z-index: 5;
  position: absolute;
  left: 15%;
} 

#grdResults{
position: absolute;
top: 30%;
background-color:rgba(79, 51, 37, 0.911);
color:#E8D9C4;
}

 
 
