<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Log-in</title>
    <link REL=StyleSheet HREF="../../assets/style.css" TITLE="Contemporaneo">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header>
        <span id="titleName">Joc X i Y</span>
    </header>
    
<!-- The table has a listener that notices every change in the firebase database,
     and updates the content of the table -->
    <table id='grdResults' *ngFor="let item of it | async" class="table table-bordered" style="width: 100vw;">
      <tr>
        <th scope="col">A Resultat</th>
        <th scope="col">A punts</th>
        <th scope="col">B Resultat</th>
        <th scope="col">B punts</th>
        <th scope="col">C Resultat</th>
        <th scope="col">C punts</th>
        <th scope="col">D Resultat</th>
        <th scope="col">D punts</th>
      </tr>      
      <!-- The rows will not be rendered unless all the values in item.ronda1 are correct -->
      <tr *ngIf="isNotEmty(item.ronda1)">
        <!-- The calculate function is called and the local arrays are updated,
             the function is given the array of the iteration, and the iteration number -->
        {{calculate(item.ronda1, 0)}}
        <td>{{item.ronda1[0]}}</td>
        <td>{{Punts[0][0]}}</td>
        <td>{{item.ronda1[1]}}</td>
        <td>{{Punts[0][1]}}</td>
        <td>{{item.ronda1[2]}}</td>
        <td>{{Punts[0][2]}}</td>
        <td>{{item.ronda1[3]}}</td>
        <td>{{Punts[0][3]}}</td>
      </tr>      
      <tr *ngIf="isNotEmty(item.ronda2)">
        {{calculate(item.ronda2, 1)}}
        <td>{{item.ronda2[0]}}</td>
        <td>{{Punts[1][0]}}</td>
        <td>{{item.ronda2[1]}}</td>
        <td>{{Punts[1][1]}}</td>
        <td>{{item.ronda2[2]}}</td>
        <td>{{Punts[1][2]}}</td>
        <td>{{item.ronda2[3]}}</td>
        <td>{{Punts[1][3]}}</td>
      </tr>
      <tr *ngIf="isNotEmty(item.ronda3)">
        {{calculate(item.ronda3, 2)}}
        <td>{{item.ronda3[0]}}</td>
        <td>{{Punts[2][0]}}</td>
        <td>{{item.ronda3[1]}}</td>
        <td>{{Punts[2][1]}}</td>
        <td>{{item.ronda3[2]}}</td>
        <td>{{Punts[2][2]}}</td>
        <td>{{item.ronda3[3]}}</td>
        <td>{{Punts[2][3]}}</td>
      </tr>
      <tr *ngIf="isNotEmty(item.ronda4)">
        {{calculate(item.ronda4, 3)}}
        <td>{{item.ronda4[0]}}</td>
        <td>{{Punts[3][0]}}</td>
        <td>{{item.ronda4[1]}}</td>
        <td>{{Punts[3][1]}}</td>
        <td>{{item.ronda4[2]}}</td>
        <td>{{Punts[3][2]}}</td>
        <td>{{item.ronda4[3]}}</td>
        <td>{{Punts[3][3]}}</td>
      </tr>
      <tr>
        <td>Total A</td>
        <td>{{PuntsTotal[0]}}</td>
        <td>Total B</td>
        <td>{{PuntsTotal[1]}}</td>
        <td>Total C</td>
        <td>{{PuntsTotal[2]}}</td>
        <td>Total D</td>
        <td>{{PuntsTotal[3]}}</td>
      </tr>      
    </table>

</body>



</html>